/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.ad-notif-error, .ad-notif-success, .ad-notif-notice, .ad-notif-alert, .ad-notif-info {
	max-height: 50px;
	margin-bottom: 20px;
	border-radius: 3px;
	background: image-url("notif-bg.jpg") repeat-x;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.ad-notif-error p, .ad-notif-success p, .ad-notif-notice p, .ad-notif-alert p, .ad-notif-info p {
	color: rgba(0, 0, 0, 0.6);
	padding: 10px 0;
	margin: 0 10px;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.ad-notif-success { background-position: 0 0; border: 1px solid #71a100; }
.ad-notif-notice, .ad-notif-alert { background-position: 0 -50px; border: 1px solid #cbac00; }
.ad-notif-error { background-position: 0 -100px; border: 1px solid #c63434; }
.ad-notif-info { background-position: 0 -150px; border: 1px solid #308eef; }
